[Desktop Entry]
Type=Application
Name=AgnosticVR
Comment=A modern, cross-platform desktop application designed for managing and sideloading content onto Meta Quest devices
Exec=agnosticvr %U
Icon=agnosticvr
Categories=Games;
Terminal=false
MimeType=x-scheme-handler/agnosticvr;
StartupWMClass=agnosticvr 