[Desktop Entry]
Type=Application
Name=MythicQuestVR
Comment=A modern, cross-platform desktop application designed for managing and sideloading content onto Meta Quest devices
Exec=mythicquestvr %U
Icon=mythicquestvr
Categories=Games;
Terminal=false
MimeType=x-scheme-handler/mythicquestvr;
StartupWMClass=mythicquestvr 